.container{
    position: absolute;
    top: 0.5%;
    margin-top: 100px;
    background-color: #eee;
    display: flex;
    height: 60%;
    width: 100%;
}
.container .content{
    margin-top:5%;
    padding-left: 10%;
}
.container .content p{
    font-size: 15px;
}
.container .photo{
    background-color: #eee;
}
.container .photo img{
    position: absolute;
    left: 50%;
    top: 5%;
    width: 40%;

}
